@import url(https://fonts.googleapis.com/css?family=Open+Sans:wght@300&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  color: #151f27;
  font-size: 16px;
  line-height: 1.4;
}

